
.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 250px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.item-details {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}



.item-details {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.item-details img {
  max-width: 50%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

.item-details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.item-details p {
  font-size: 1.1em;
  color: #555;
}
